{% load staticfiles %}
<html>
<head>
    <title>Auto FeedBack</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/bootstrap-responsive.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/site.css" %}"/>
    <link href="{% static "static/js/bootstrap.min.js" %}"/>

</head>
<body>


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Auto FeedBack Site</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
            <ul class="nav right pull-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
</div>

    <div class="container321">

        {% block make %} {% endblock %}

        <hr>

        <!--<footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>-->

    </div>
    <!-- /.container -->
</body>
</html> 
