{% extends 'main.html'%}

{% block make %}
    
<ul class="make-flipper-list">
    
{% for make in makes %}
<li>
    
<div class="flip-container">
<a href="/make/{{ make.id }}">
	<div class="flipper">
		<div class="front">
        
            <div>
                <img src="{{ make.logo }}"/>
            </div>
		</div>
		<div class="back">
		    <div>
        <span>{{make.name}}</span>
        <br/>
        <span>Has {{ make.id }} models</span>
        <br/>
        <span>Has {{ make.id }} comments</span>
		</div>
</div>
	</div>
  </a>  
</div>
    


    
</li>
{% endfor %}
</ul>


{% endblock %}