{% extends 'main.html'%}
{% block make %}
<div class="container" style="background-color:  #fff">
<div>
    <p>{{make.name}}</p>
    <span>{{make.description}}</span>
</div>
<div>
    <ul>
        {% for model in models %}
        <li>
            <div>
                <a href="/generation/gen/">
                    <div>
                      <span>{{ model.name }}</span>
                    </div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}

